<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Nuevo Producto</title>
</head>
	<body>
		<h1>Alta de un Producto</h1>
			<form th:action="@{/producto/guardar}" th:object="${producto}" method="post">
			
				<label for="codigo">Codigo del Producto</label>
				<input type="number" id="codigo" th:field="*{codigo}" placeholder="Ingrese codigo"/>//recibe valores numericos
				<br>
				<label for="nombre">Nombre del Producto</label>
				<input type="text" id="nombre" th:field="*{nombre}" placeholder="Ingrese nombre"/>
				<br>
				<label for="linea">Linea del Producto</label>
				<input type="text" id="nombre" th:field="*{linea}" placeholder="Ingrese nombre"/>
				<br>
				<label for="precio">Escala del Producto</label>
				<input type="number" id="precio" th:field="*{escala}" placeholder="Ingrese precio"/>
				<br>
				<label for="marca">Vendedor del Producto</label>
				<input type="text" id="marca" th:field="*{vendedor}" placeholder="Ingrese marca"/>
				<br>
				<label for="nombre">Descripcion del Producto</label>
				<input type="text" id="nombre" th:field="*{descripcion}" placeholder="Ingrese nombre"/>
				<br>
				<label for="stock">Stock del Producto</label>
				<input type="number" id="stock" th:field="*{stock}"/>
				<br>
				<label for="precio">Precio del Producto</label>
				<input type="number" id="precio" th:field="*{precio}" placeholder="Ingrese precio"/>
				<br>
				<input type="submit" value="Guardar"></input>
			</form>
	</body>
</html>